<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WeChat</display-name>
  <servlet>
    <description>展示所有数据</description>
    <display-name>MessageList</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.panlei.servlet.ListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>删除单条记录</description>
    <display-name>DeleteOne</display-name>
    <servlet-name>DeleteOneServlet</servlet-name>
    <servlet-class>com.panlei.servlet.DeleteOneServlet</servlet-class>
  </servlet>
  <servlet>
    <description>批量删除记录</description>
    <display-name>deleteOne</display-name>
    <servlet-name>DeleteBatchServlet</servlet-name>
    <servlet-class>com.panlei.servlet.DeleteBatchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>初始化对话界面</description>
    <display-name>initTalkServlet</display-name>
    <servlet-name>InitTalkServlet</servlet-name>
    <servlet-class>com.panlei.servlet.InitTalkServlet</servlet-class>
  </servlet>
  <servlet>
    <description>自动回复</description>
    <display-name>autoReplyServlet</display-name>
    <servlet-name>AutoReplyServlet</servlet-name>
    <servlet-class>com.panlei.servlet.AutoReplyServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/servlet/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteOneServlet</servlet-name>
    <url-pattern>/servlet/DeleteOneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBatchServlet</servlet-name>
    <url-pattern>/servlet/DeleteBatchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitTalkServlet</servlet-name>
    <url-pattern>/servlet/InitTalkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutoReplyServlet</servlet-name>
    <url-pattern>/servlet/AutoReplyServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <filter>
        <filter-name>ServletFilter</filter-name>
        <filter-class>com.panlei.filter.ServletFilter</filter-class>
        <init-param>
            <param-name>charset</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ServletFilter</filter-name>
        <servlet-name>DeleteOneServlet</servlet-name>
        <servlet-name>ListServlet</servlet-name>
        <servlet-name>DeleteBatchServlet</servlet-name>
        <servlet-name>InitTalkServlet</servlet-name>
        <servlet-name>AutoReplyServlet</servlet-name>
    </filter-mapping>
</web-app>